:root {
    --bg-color: #2d2e31;
    --wrapper-shadow: -10px 5px 10px #33353a, 10px -5px 10px #3b4959;
    --btn-shadow: -5px 5px 10px #2d2e31, 5px -5px 10px #35393d;
    --btn-shadow-inset: inset -5px 5px 10px #2d2e31, inset 5px -5px 10px #3b4959;
    --board-shadow-inset: inset -5px 5px 8px #2d2e31, inset 5px -5px 8px #35393d;

    --color: #acc0bf;
    --border-radius: 20px;
    --setting-btn-color: #a19f9f;
    --block-size: 30px;
    --button-size: 55px;
    --game-width: 414px;
    --game-height: 800px;
}